#go-button{
    flex: 1;
}

.fa-min-width{
    min-width:20px;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

#go-chrom-start-end{
    justify-content: space-around;
    transition: background-color 0.3s;
}

.editable-textbox {
    width: 80%;
}

#go-genome,
#go-genome-separator {
    align-content: center;
}
