<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/tabs/information-panel.css') }}">

<div class="tab-header">Graph Information</div>
<hr>

{% macro info_label(label, id) %}
<div class="info-label flex-1">
    {{ label }}:<span id="{{ id }}" class="info-value"></span>
</div>
{% endmacro %}



<div class="flex-col">
    <div id="info-node-section" class="info-row flex-1" style="display: none;">
        <button id="info-copy-id" class="info-copy-btn"><i class="fa fa-copy"></i></button>
        <strong>Node:</strong> <span id="info-node-type"></span><br>
        <span id="info-node-id" class="info-content"></span>
    </div>
    <div id="info-position-section" class="info-row flex-1" style="display: none;">
        <button id="info-copy-position" class="info-copy-btn"><i class="fa fa-copy"></i></button>
        <strong>Position:</strong><br>
        <span id="info-position" class="info-content"></span>
    </div>
    <div id="info-sequence-section" class="info-row flex-1" style="display: none;">
        <button id="info-copy-sequence" class="info-copy-btn"><i class="fa fa-copy"></i></button>
        <strong>Sequence:</strong><br>
        <span id="info-length" class="info-content"></span>
        <div id="info-full-sequence-container">
        <div class="info-sequence-wrapper">
            <pre><code id="info-sequence-full"></code></pre>
        </div>
        </div>
    </div>
    <div id="info-n-inside-container" class="info-row flex-1" style="display: none;">
        <strong>Nodes Inside:</strong><br>
        <span id="info-number-inside" class="info-content"></span>
    </div>

    <div id="graph-info" class="flex-4">
        <div id="info-debug-container">
            <div style="font-weight: bold;">DEBUG INFO (experimental)</div>
            {{ info_label('FPS', 'info-fps') }}
            {{ info_label('Screen', 'info-screen-coordinates') }}
            {{ info_label('Canvas', 'info-canvas-coordinates') }}
            {{ info_label('Nodes Drawn', 'info-graph-nodes') }}
            {{ info_label('Edges Drawn', 'info-graph-links') }}
        </div>
    </div>
</div>


<script src="{{url_for('static', filename='js/ui/tabs/information-panel.js')}}"></script>