<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/tabs/information-panel.css') }}">

<div id="graph-info" class="flex-col">

    <div>
        <div class="tab-header">Graph Information</div>
        <hr>
    </div>

    <div id="info-selected-container">
        <!-- Content will be appended by JS -->
    </div>

    <div id="info-debug-container-outer" class="flex-col hidden">

        <div>
            <div class="tab-header">Debugging Information</div>
            <hr>
        </div>

        <div id="info-debug-container" class="flex-col">
            <!-- Content will be appended by JS -->

        </div>
    </div>
</div>