<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/tabs/keyboard-shortcuts.css') }}">
<div class="tab-header">Input</div>
<hr>

<div id="keyboard-shortcuts" class="flex-1">
    <div class="k-header">Navigation</div>
    <br>

    <div class="k-info">
        <div class="k-label">Re-center</div>
        <div class="k-input"><kbd>Space</kbd></div>
    </div>
    <br>

    <div class="k-info">
        <div class="k-label">Pan view</div>
        <div class="k-input"><kbd class="shift-key">Shift</kbd> + <kbd>Drag</kbd></div>
    </div>
    <br>

    <div class="k-info">
        <div class="k-label">Zoom in/out</div>
        <div class="k-input"><kbd class="shift-key">Shift</kbd> + <kbd>Scroll</kbd></div>
    </div>
    <br>

    <div class="k-header">Selection</div>
    <br>

    <div class="k-info">
        <div class="k-label">Select segment</div>
        <div class="k-input"><kbd>Click</kbd></div>
    </div>

    <br>

    <div class="k-info">
        <div class="k-label">Multi-select</div>
        <div class="k-input"><kbd>Click</kbd> + <kbd>Drag</kbd></div>
    </div>
    <br>


    <div class="k-info">
      <div class="k-label">Zoom to selection</div>
      <div class="k-input"><kbd>Up Arrow ↑</kbd></div>
    </div>
    <br>

    <div class="k-header">Interaction</div>
    <br>

    <div class="k-info">
        <div class="k-label">Move segment</div>
        <div class="k-input"><kbd class="shift-key">Click</kbd> + <kbd>Drag</kbd></div>
    </div>
    <br>

    <div class="k-info">
        <div class="k-label">Pop open bubble</div>
        <div class="k-input"><kbd class="ctrl-key">Ctrl</kbd> + <kbd>Click</kbd></div>
    </div>


</div>

<script>

function detectOS() {
  let userAgent = window.navigator.userAgent;
  if (userAgent.indexOf('Mac') != -1) {
    return 'Mac';
  } else if (userAgent.indexOf('Win') != -1) {
    return 'Windows';
  } else if (userAgent.indexOf('Linux') != -1) {
    return 'Linux';
  }
  return 'Unknown';
}

function updateKeyboardShortcuts() {
  const os = detectOS();
  
  if (os === 'Mac') {
    document.querySelectorAll('.shift-key').forEach(function(el) {
      el.textContent = '⇧';
    });

    document.querySelectorAll('.ctrl-key').forEach(function(el) {
      el.textContent = '⌘';
    });
  }
}

updateKeyboardShortcuts();

</script>
