<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/tabs/path-selector.css') }}">
<div class="tab-header">Path Selector</div>
<hr>

<div class="flex-col">
    <select id="path-selector" name="path-selector" class="path-selector-dropdown">
        <!-- The options will be appended here by JavaScript -->
    </select>

    <button id="path-select-button" class="button-style">
        Select Path
    </button>

    <div class="flex-row">

        <button id="path-play-button" class="button-style flex-1">
            <i class="fas fa-play"></i>
        </button>
        <button id="path-pause-button" class="button-style flex-1">
            <i class="fas fa-pause"></i>
        </button>

    </div>
</div>