<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/tabs/search-tab.css') }}">

<div style="display: none;">
        <div class="tab-header">Sequence Search</div>
        <hr>

        <div class="flex-row">
            <input type="text" id="search-tab-bar" class="flex-4" placeholder="Enter short sequence (ATCGN only)" />
            <button id="add-search-button" class="button-style flex-1">Add</button>
        </div>
        <br>
        <table id="search-table">
            <thead>
                <tr>
                    <th>Color</th>
                    <th>Sequence</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be dynamically added here -->
            </tbody>
        </table>

</div>

<div class="tab-header">Node Search</div>
<hr>

<div class="flex-row">
    <input type="text" id="node-search-bar" class="flex-4" placeholder="Enter node ID" />
    <button id="node-search-button" class="button-style flex-1"><i class="fa-solid fa-search"></i></button>
</div>

<div class="flex-row">
    <div id="node-search-results"></div>
</div>

<script src="{{url_for('static', filename='js/ui/tabs/sequence-search.js')}}"></script>
