<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/tabs/tab-container.css') }}">


<div id="tabs-container" class="flex-1 flex-col">
    <div class="tab-buttons">
        <button id="keyboard-shortcuts-button" class="tab-button active-tab-button" onclick="switchTab('keyboard-shortcuts')"><i class="fa-solid fa-keyboard"></i></button>
        <button id="graph-info-button" class="tab-button" onclick="switchTab('graph-info')"><i class="fa-solid fa-rectangle-list"></i></button>
        <button id="tool-tab-button" class="tab-button" onclick="switchTab('tool-tab')"><i class="fa-solid fa-wrench"></i></button>
        <button id="graph-annotation-button" class="tab-button" onclick="switchTab('graph-annotation')"><i class="fa-solid fa-tag"></i></button>
        <button id="path-selector-button" class="tab-button" onclick="switchTab('path-selector')"><i class="fa-solid fa-diagram-project"></i></button>
        <button id="graph-settings-button" class="tab-button" onclick="switchTab('graph-settings')"><i class="fa-solid fa-gear"></i></button>
        <!-- <button id="search-tab-button" class="tab-button" onclick="switchTab('search-tab')"><i class="fa-solid fa-search"></i></button> -->

    </div>

    <div id="keyboard-shortcuts-content" class="tab-content active-tab-content flex-9"> {% include 'tabs/keyboard-shortcuts.html' %} </div>
    <div id="graph-info-content" class="tab-content flex-9"> {% include 'tabs/graph-info.html' %} </div>
    <div id="tool-tab-content" class="tab-content flex-9"> {% include 'tabs/tool-tab.html' %} </div>
    <div id="graph-annotation-content" class="tab-content flex-9"> {% include 'tabs/graph-annotation.html' %} </div>
    <div id="path-selector-content" class="tab-content flex-9"> {% include 'tabs/path-selector.html' %} </div>
    <div id="graph-settings-content" class="tab-content flex-9"> {% include 'tabs/graph-settings.html' %} </div>
    <!-- <div id="search-tab-content" class="tab-content flex-9"> {% include 'tabs/search-tab.html' %} </div> -->

</div>

<script src="{{url_for('static', filename='js/ui/tabs/tabs.js')}}"></script>
