
.color-style-option i{
    pointer-events:none;
}

#color-picker-gradient-display {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.color-picker-label{
    color: var(--text-color);
    text-align: right;
}

.color-picker-single {
    display: flex;
    align-items: center;
    justify-content: center;
} .color-picker-single input{
    width: 85%;
}

input[type="color"] {
    cursor: pointer;
    height: 2em;
    border-width: 0px;
}

#color-preset-container{
    column-gap: 4px !important;
    row-gap: 4px !important;
    flex-wrap: wrap !important;
} .color-preset-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-style-icon{
    font-size: xx-large;
}

.color-style-label {
font-size: small;
}
