#gene-search-bar-container{
    align-self: center
} #gene-search-bar{
    min-width: 8em;
    width: 95%;
}
.gene-search-result{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gene-search-result.placeholder-blank.button-group {
    border: 1px dashed var(--text-color);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

#gene-search-suggestions {
    display: none;
    position: absolute;
    border: 1px solid var(--text-color);
    border-top: none;
    z-index: 99;
    max-height: 20em;
    min-width: 20em;
    top: auto;
    left: 0;
    overflow-y: auto;
    background-color: var(--site-background);
} #gene-search-suggestions.active {
    display: block;
}

.gene-search-suggestion-item {
    color: var(--text-color);
    padding: 5px;
    outline: none;
    border-bottom: 2px dotted var(--lighter-green);
}

.gene-search-suggestion-item:hover,
.gene-search-suggestion-item:focus {
    cursor: pointer;
    background-color: var(--highlight);
}

.gene-search-item-line{
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 3px;
} .gene-search-item-chrom{
    background-color: var(--lighter-green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: small;
    padding: 3px;
} .gene-search-item-name{
    font-weight: bold;
}

.gene-search-item-geneid{
    font-style: italic;
    font-size: xx-small;
} .gene-search-item-type{
    font-size: xx-small;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.gene-search-item-line1{
    font-size: small;
}.gene-search-item-line.gene-search-item-line2{
    align-items: baseline;
    flex-wrap: wrap-reverse;
}
