#graph{
    min-width: 80vw;
}
#graph-container {
    position: relative;
}

#box-selection {
    position: absolute;
    z-index: 100;
    border-style: dotted;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
}

.graph-container-empty-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: var(--lighter-green);
    text-shadow:
        -1px -1px 0 var(--light-green),
         1px -1px 0 var(--light-green),
        -1px  1px 0 var(--light-green),
         1px  1px 0 var(--light-green);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.graph-container-empty{
    height: 500px;
    background-color: var(--lighter-green);
    border: 5px dashed var(--light-green);
}

.loader {
    border: 5px solid var(--darker-green);
    border-top: 5px solid var(--highlight);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
    z-index: 100;
} .loader-filter {
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 99;
    position: absolute;
    width: 81%;
    height: 100%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#graph-legend {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    z-index: 10;
  }
  
  #graph-legend .legend-item {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
  }

  #graph-legend .legend-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
  }
  