<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/sections/coordinates.css') }}">

<div id="coordinate-go" class="container flex-3">
    <div class="container-title">{{ _('Finalize Coordinates') }}</div>

    <div class="container-content flex-row">

        <div class="flex-col flex-4">

            <div class="flex-row flex-1">
                
                <div class="flex-row flex-4">

                    <i class="fa-solid fa-location-crosshairs fa-min-width"></i>
                    <div id="go-genome">{{ genome }}</div>
                    <span id="go-genome-separator" class="less-important-text">#</span>

                    <div id="go-chrom-start-end" class="border-emphasis flex-row flex-4">
                        <span id="go-chrom" class="important-text">⬜</span>
                        <span class="less-important-text">:</span>
                        <span id="go-start" class="important-text">⬜</span>
                        <span class="less-important-text">-</span>
                        <span id="go-end" class="important-text">⬜</span>
                    </div>
                </div>

                <button id="coordinate-copy-button" class="button-style flex-1"><i class="fa-solid fa-copy"></i></button>
                
            </div>

            <div class="flex-row flex-1">

                <i class="fa-solid fa-plus-minus fa-min-width"></i>
                <div id="go-flanking" class="border-emphasis important-text flex-row flex-4">
                    {{ _('flanking region') }}
                </div>
                <div class="flex-row flex-1">
                    <button id="go-flanking-minus-button" class="button-style button-selected highlighted flex-1"><i class="fa-solid fa-minus"></i></button>
                    <button id="go-flanking-plus-button" class="button-style button-selected highlighted flex-1" ><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        </div>

        <button id="go-button" class="button-style">{{ _('Go') }} <i class="fa-solid fa-bolt-lightning flex-1"></i></button>

    </div>
</div>

<script type="module" src="{{url_for('static', filename='js/ui/sections/coordinates.js')}}"></script>
