<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/sections/cytoband/cytoband.css') }}">

<div id="cytoband" class="flex-row">

    <div class="container flex-1">
        <div class="container-title">{{ _('Chromosome Selector') }}</div>

            <div class="container-content flex-col">
                <div id="cytoband-genome-canvas-container">
                    <!-- The figure will be appended here by JavaScript -->
                </div>
                <div class="flex-row-right">
                    <span id="cytoband-genome-other-selector-label">Other</span>
                    <i class="fa-solid fa-right-long flex-col"></i>

                    <select id="cytoband-genome-other-selector">
                        <option value="" disabled selected>{{ _('Select...') }}</option>
                        <!-- Options will be appended here by JavaScript -->
                    </select>

                </div>       
            </div> 
    </div>

    <div class="container flex-2">
        <div class="container-title">{{ _('Locus Selector') }}</div>

        <div class="container-content flex-col">
            <div id="cytoband-chromosome-no-info">
                <i class="fas fa-question-circle"></i> {{ _('No known chromosome data.') }}
            </div>               

            <div id="cytoband-chromosome-canvas-container">
                <!-- The figure will be appended here by JavaScript -->
            </div>            
            
        </div>   
    </div>

</div>

<script type="module" src="{{url_for('static', filename='js/ui/sections/cytoband/cytoband.js')}}"></script>
