<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/sections/tabs/path-selector.css') }}">
<div class="tab-header">{{ _('Path Selector') }}</div>
<hr>
<div class="no-data" style="margin-bottom: 8px; font-size: x-small;">
    <i class="fa-solid fa-triangle-exclamation"></i> {{ _('Path selector is under development') }}
</div>

<div class="flex-col">
    <select id="path-selector" name="path-selector" class="path-selector-dropdown">
        <!-- The options will be appended here by JavaScript -->
    </select>

    <label class="path-filter-label">
        <input type="checkbox" id="path-viewport-filter" checked>
        <span>{{ _('On-screen only') }}</span>
    </label>

    <div class="flex-row">
        <span id="path-table-container" class="flex-3"></span>
    </div>



    <div id="path-animation-container" class="flex-col hidden">

        <div>
            <br>
            <div class="tab-header">{{ _('Path Animation') }}</div>
            <hr>
        </div>

        <div class="flex-row">

            <button id="path-play-button" class="button-style path-button flex-1">
                <i class="fas fa-play"></i>
            </button>
            <button id="path-frame-reverse-button" class="button-style path-button flex-1">
                <i class="fas fa-step-backward"></i>
            </button>
            <button id="path-frame-forward-button" class="button-style path-button flex-1">
                <i class="fas fa-step-forward"></i>
            </button>
            <button id="path-pause-button" class="button-style path-button flex-1">
                <i class="fas fa-pause"></i>
            </button>
            <button id="path-reset-button" class="button-style path-button flex-1">
                <i class="fas fa-arrow-rotate-left"></i>
            </button>
        </div>

        <div class="flex-row">
            <label for="path-speed-slider" class="flex-1">{{ _('Speed') }}</label>
            <input type="range" id="path-speed-slider" class="flex-3" min="-5" max="6" value="0" autocomplete="off" step="1">
            <span id="path-speed-value" class="flex-1">1x</span>
        </div>

        <div class="flex-row">
            <label for="path-current-step" class="flex-1">{{ _('Current Step') }}</label>
            <span id="path-current-step" class="flex-1">N/A</span>
        </div>

        <div class="flex-row">
            <label class="flex-1">{{ _('Object') }}</label>
            <span id="path-current-object" class="flex-1">—</span>
        </div>

    </div>

</div>