#info-debug-container {
    padding-left: 1em;
    background-color: lightcoral;
}

#info-selected-container {
    display: grid;
    gap: 8px;
}

.info-label {
    margin-bottom: 5px;
    margin-right: 1em;
    font-weight: bold;
}

.info-copyable {
    border-radius: 5px;

    padding: 5px;
    border: 1px solid var(--dark-green);
    cursor: pointer;
    position: relative;
}

.info-copyable:hover {
    background: var(--highlight);
    border-radius: 5px;
}

.info-selected .copied::after {
    content: "Copied!";
    position: absolute;
    right: 6px;
    top: -10px;
    font-size: 11px;
    padding: 2px 6px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 3px;
    z-index: 10;
}

.info-content {
    margin-left: 1em;
}

.info-optional {
    display: none;
}

.button-copy-sequence {
    margin-left: 5px;
    cursor: pointer;
}

#graph-info {
    margin-top: auto;
}

#info-full-sequence-container {
    margin-top: 0.5em;
}

.info-code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
    background-color: var(--site-background);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-height: 100px;

}

.info-code pre {
    text-align: left;
    margin: 0;
}