#tabs-container{
    max-height: 750px;
    height: 100%;
    overflow: hidden;
}

.tab-content {
    flex: 1 1 auto;
    background-color: var(--tab-box);
    max-width: 20vw;
    padding: 10px;
    border-radius: 5px;
    min-height: 0;
    overflow-y: auto;
}

.tab-button {
    background-color: var(--tab-box);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;

    i{
        font-size: large;
    }
}

.tab-button:hover {
    background-color: var(--highlight);
}

.active-tab-button{
    background-color: var(--highlight);
}

.tab-header{
    font-size: large;
}

