.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--site-background);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--dark-green);
    width: 45%;
}

.modal-close {
    color: var(--unselected-green);
    float: right;
    font-size: xx-large;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: var(--darker-green);
    text-decoration: none;
    cursor: pointer;
}
.modal-title{
    font-weight: bold;
}

.modal-info-row {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.modal-info-icon {
    font-size: x-large;
    color: var(--unselected-text);
}

.modal-reference-logo {
    width: 90px;
}

.modal-citation{
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
    padding: 1em;
    background: var(--lighter-green);
    width: 100%;
}

.modal-disclaimer {
    margin-top: 1.5em;
    padding-top: 1em;
    border-top: 1px solid var(--lighter-green);
    color: var(--unselected-text);
    font-size: 0.8em;
}
