<link rel="stylesheet" href="{{ url_for('static', filename='css/cytoband/cytoband-style.css') }}">

<div id="cytoband" class="flex-row">

    <div class="container flex-1">
        <div class="container-title">Chromosome Selector</div>
        
            <div class="container-content flex-col">
                <div id="cytoband-genome-canvas-container">
                    <!-- The figure will be appended here by JavaScript -->
                </div>
                <div class="flex-row-right">
                    <span id="cytoband-genome-other-selector-label">Other</span>
                    <i class="fa-solid fa-right-long flex-col"></i>

                    <input id="cytoband-genome-other-selector" list="cytoband-genome-other-options">
                    <datalist id="cytoband-genome-other-options">
                        <!-- Options will be appended here by JavaScript -->
                    </datalist>

                </div>       
            </div> 
    </div>

    <div class="container flex-2">
        <div class="container-title">Locus Selector</div>

        <div class="container-content flex-col">
            <div id="cytoband-chromosome-no-info">
                <i class="fas fa-question-circle"></i> No known chromosome data.
            </div>               

            <div id="cytoband-chromosome-canvas-container">
                <!-- The figure will be appended here by JavaScript -->
            </div>            
            
        </div>   
    </div>

</div>

<script type="module" src="{{url_for('static', filename='js/ui/cytoband/cytoband.js')}}"></script>
