<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/gene-search-style.css') }}">

<div id="gene-search" class="container flex-3">
    <div class="container-title">Select by Gene</div>

    <div class="container-content flex-row">
        <i class="fa fa-search flex-col"></i>

        <div id="gene-search-bar-container" class="flex-1">
            <input type="text" id="gene-search-bar" placeholder="Search genes...">
            <div id="gene-search-suggestions" class="gene-search-suggestions-dropdown"></div>
        </div>

        <div id="gene-search-result-container" class="flex-row flex-5">
            <div id="gene-search-result-1" class="gene-search-result placeholder-blank option-button option-button-unselected flex-1"></div>
            <div id="gene-search-result-2" class="gene-search-result placeholder-blank option-button option-button-unselected flex-1"></div>
            <div id="gene-search-result-3" class="gene-search-result placeholder-blank option-button option-button-unselected flex-1"></div>
            <div id="gene-search-result-4" class="gene-search-result placeholder-blank option-button option-button-unselected flex-1"></div>
        </div>
    </div>
</div>

<script type="module" src="{{url_for('static', filename='js/ui/gene-search.js')}}"></script>
