<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PangyPlot</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/elements/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/components/button-group.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/elements/slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/elements/tooltip.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/elements/table.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/graph/graph.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graph/right-click.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/components/slider-set.css') }}">

    <script type="importmap">
    {
        "imports": {
            "@ui/": "{{ url_for('static', filename='js/ui/') }}"
        }
    }
    </script>

    {% include 'google-analytics.html' %}

</head>

<body class="flex-col">

    <div id="info-corner" class="flex-col">
        <div id="version-overlay" class="flex-row">
            {{ _('PangyPlot') }} {{ version }} ({{ version_name }}) 
        </div>
        <div  class="flex-row">

            <div id="language-button" class="flex-col button-style flex-1">
                <i class="fa-solid fa-globe"></i>
                <div class="language-label">{{ _('Locale') }}</div>

            </div>
            <div id="language-dropdown" class="lang-dropdown hidden"></div>

            {% if organism %}
            <div id="organism-indicator" class="flex-1 flex-column">
                <div id="organism-emoji" aria-label="Organism: {{ organism }}"> {{ organism_emoji }} </div>
                <div id="organism-genome"> {{ organism_genome }} </div>

            </div>
            {% endif %}

        </div>
    </div>

    {% include 'navbar-template.html' %}

    <!--<select id="db-selection"> </select>-->

    {% include 'cytoband-template.html' %}

    <div class="flex-row fixed-height-1">

        {% include 'gene-search-template.html' %}
        {% include 'coordinate-template.html' %}

    </div>

    <div id="graph-container" class="graph-container-empty">

        <div id="graph-container-empty-inside">
            <div class="graph-container-empty-content">
                <img src="{{ url_for('static', filename='images/pangyplot_pangy.svg') }}">
            </div>
            <div class="graph-container-empty-content">
                {{ _('Waiting for query...') }}
            </div>
        </div>

        <div class="loader-filter hidden"></div>
        <div class="loader hidden"></div>

        <div class="flex-row">

            <div id="graph" class="flex-1" tabindex="0"></div>
            <div id="graph-legend" class="hidden">
                <!--built by javascript-->
            </div>

            {% include 'tabs/tab-container.html' %}

        </div>
    </div>

    <div id="color-picker-container" class="flex-row fixed-height-1 hidden">

        {% include 'color-picker.html' %}

    </div>

    <script src="{{url_for('static', filename='js/d3/d3.js')}}"></script>
    <script src="{{url_for('static', filename='js/d3/d3-annotation.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/d3/force-graph.min.js')}}"></script>

    <script>
        window.__CORE_CONFIG = {
            genome: '{{ genome }}',
            chromosome: '{{ init_chromosome }}',
            start: '{{ init_start }}',
            end: '{{ init_end }}'
        };
    </script>
    <script type="module" src="{{ url_for('static', filename='js/graph/force-graph.js') }}"></script>

    <script type="module" src="{{url_for('static', filename='js/ui/option-button.js')}}"></script>


</body>

</html>