<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/navbar-style.css') }}">   

{% macro navbar_item(id, text, icon_class, href, target) %}
<a id="{{ id }}" tabindex="0" class="navbar-button button-style flex-col flex-1" href="{{ href }}" target="{{ target }}">
    <i class="{{ icon_class }}"></i>
    <div class="navbar-button-text">{{ text }}</div>
</a>
{% endmacro %}

<nav id="navbar" class="container navbar-height">
    
    <div class="container-content-no-title flex-row-left">

        <nav class="flex-row flex-1">

            <img id="navbar-logo" alt="PangyPlot" class="flex-1" src="{{ url_for('static', filename='images/pangyplot_logo.svg') }}">

            {{ navbar_item('navbar-button-docs', 'Docs', 'fa-solid fa-book', 'https://pangyplot-docs.readthedocs.io/en/latest/', "_blank") }}
            {{ navbar_item('navbar-button-github', 'GitHub', 'fa-brands fa-github', 'https://github.com/ScottMastro/pangyplot', "_blank") }}
            {{ navbar_item('navbar-button-information', 'Info', 'fa-solid fa-circle-info', '#information', "_self") }}
            {{ navbar_item('navbar-button-citation', 'Citation', 'fa-solid fa-quote-right', '#citations', "_self") }}
            {{ navbar_item('navbar-button-example', 'Example', 'fa-solid fa-vial', '#example', "_self") }}
            {{ navbar_item('navbar-button-example2', 'Example 2', 'fa-solid fa-vial', '#example2', "_self") }}
            {{ navbar_item('navbar-button-example3', 'Example 3', 'fa-solid fa-vial', '#example3', "_self") }}

        </nav>

        <div class="navbar-blank flex-1"></div>
        <div class="organism-indicator"></div>


    </div>
</nav>

{% include 'modal-template.html' %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        setupModal("citation-modal", "navbar-button-citation", "citation-modal-close-button", false);
    });
    document.addEventListener('DOMContentLoaded', function() {
        setupModal("info-modal", "navbar-button-information", "info-modal-close-button", false);
    });
</script>

<script src="{{url_for('static', filename='js/ui/navbar.js')}}"></script>